{% extends 'Layout/base.html.twig' %}

{% block body %}


    {{ form_start(upload_file_type) }}
    {{ form_row(upload_file_type) }}
    <input type="submit">
    {{ form_end(upload_file_type) }}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <button><a href={{ path('app_avatar_edit') }}> Modifier </a></button>
        <button><a href={{ path("app_user_logout") }}> Déconnexion </a></button>
    {% endif %}
{% endblock body %}