{% extends 'Layout/base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {% if error %}
        {{ error.messageKey }}
    {% endif %}
    <form method="post">

        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"/>

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password"/>


        <input type = "submit" value="Login">
   <br>
    <a href={{ path('app_user_create') }}>Création</a>
    <a href={{ path('app_forgot_password_request') }}>Mot de passe oublié</a>
    <a href={{ path('home') }}>Menu principal</a>
    </form>
{% endblock %}